/* globals.css */
:root {
  --bg-color: linear-gradient(to right, #0066cc, #33cc99);
  --text-color: #333;
  --navbar-bg: white;
  --navbar-text: #000;
}

[data-theme = "dark"] {
  --bg-color: linear-gradient(to right, #03284d, #06553b);
  --text-color: #ccc;
  --navbar-bg: rgb(46, 41, 41);
  --navbar-text: white;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background: var(--bg-color);
  color: var(--text-color);
  transition: background 0.3s, color 0.3s;
}

.container {
  width: 80%;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}
.projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
}

h2 {
  font-size: 2.5rem;
  text-align: center;
  margin-bottom: 40px;
}

